<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Numbers To Words</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <h1>Numbers To Words</h1>
        @RenderBody()
    </div>
  </body>
</html>
